body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.intro {
    overflow: visible;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: auto;

    background-color: rgba(0, 0, 0, .4);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.intro__title2 {
	font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
.fon {
	background-color: rgba(255, 250, 205, 0.3);	
}
.bl {
	display:inline-block;
	width: 100%
}
.po {
	font-size: 20px;
	font-weight:500px;	
	text-align:center;
	padding-top: 70px;
	padding-right:70px;
}
.po1 {
	font-size: 20px;
	font-weight:500px;	
	text-align:center;
	padding-top: 150px;
	padding-right:70px;
}
.opis {
	margin: 0 auto;
	font-size: 20px;
	font-weight:800px;	
	text-align:center;
	width:800px;	
}
button{
	padding: 10px 15px;
	border:0;
	background: transparent;
	transition:0.7s;
	cursor:pointer;
	margin-bottom: 40px;
	font-family: Tahoma, sans-serif;
}
button:hover {
	transform: scale(1.2) translatex(5px);
}
.intro__title {
    margin: 0;
    font-size: 75px;
    color: #fff;
    text-align: center;
}
.intro__title1 {
    margin: 0;

    font-size: 30px;
    color: #8997ff;
    text-align: center;
}
.container {

    width: 100%;
    max-width: 9200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 57%;
}

.zag {
	 text-align: center;	
}

.video__dis {
	padding-top: 10px;
	width: 10%;
}
.video__dis1 {
	padding-right: 100px;
	padding-top: 70px;
	padding-left: 70px;
	padding-bottom: 70px;
	width: 30%;
	float: left;
}

.video__media {
    position:fixed;
	min-width:100%;
	min-height:100%;
	overflow:hidden;
}
.topnav {
  overflow: hidden;
  background-color: #000000;
  margin: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #d6daff;
  color: black;
}

.topnav a.active {
  margin-left: 250px;
  color: #8997ff;
}
.container1 {
  padding-top: 10px;
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 60vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: 100%; 
  transition: .5s;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 hr {
	margin-bottom: 40px;
	margin-top: 100px;
    border: none; 
    background-color: #8997ff; 
    color: #8997ff;
    height: 90px; 
	background: rgba(137, 151, 255, 0.3);
   }

#more{display: none;}
